<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <h1>DIGITE 1 PARA ACENDER E 2 PARA APAGAR</h1>
        <input type="text" v-model="text">
        <hr>
        <div v-if='text == 1'>
            <img v-bind:src="acesa" v-bind:title="title">
        </div>
        <div v-if='text == 2'>
            <img v-bind:src="apagada" v-bind:title="title">
        </div>

        <script src="js/if.js"></script>
</body>

</html>